*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(206, 220, 232);
}

h1{
    font-size:36px;
    text-align: center;;
}

h2{
    font-size:24px;
    text-align:center;
}

p{
    font-size:24px;
    text-align: center;;
}

.battle{
    display:flex;
    flex-direction:column;
    gap: 80px;
    padding: 40px;
}

.introduction{
    display:flex;
    flex-direction: column;
    gap: 16px;
}

.choices{
    display:flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

#rock, 
#paper, 
#scissors{
    padding: 24px 32px;
    font-size:18px;
    background-color: rgb(11, 18, 235);
    color: white;
    border: none;
    font-weight:600;
    font-size:20px;
    border-radius: 8px;
}

#rock:hover,
#paper:hover,
#scissors:hover{
    background-color: rgb(0, 6, 180);
    cursor: pointer;
}

.counter-overview{
    display:flex;
    flex-direction: column;
    gap: 24px;
}

.counter{
    display:flex;
    flex-direction:row;
    align-self: center;
    font-size:24px;
    gap:24px;
}

.count{
    padding: 24px;
    background-color:#fff;
}
